/*   Author: Richard Myatt
     Date: 30 May 2018

     An exercise in data visualization and a first use of materialize.
*/


/* style images for avatar */
img {
  width: 40px;
  height: 40px;
}

/* set the caption side for the table */
table {
  caption-side: top;
}

/* move the brand logo away from the edge of the window */
.brand-logo {
  margin-left: 20px;
}

/* move the material icons down */
.material-icons {
  vertical-align: -10px;
}


/* provide spacers at the top and bottom of the page */
.spacer1 {
  height: 50px;
}

.spacer2 {
  height: 100px;
}
